<h2> Clientes </h2>

<br>

<div class="col-xl-12">
    <div class="card">
        <div class="card-header"><i class="fa fa-search fa-fw"></i> {{labelForm}}</div>

        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form, formDirective)" #formDirective="ngForm" #typeForm="ngForm">
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field class="form-material">
                            <mat-label>Nome</mat-label>
                            <input matInput id="name" type="text" maxlength="120"
                                   onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z0-9 ]/g) != null"
                                   style="text-transform: uppercase"
                                   [(ngModel)]="currentCustomer.name" name="name" formControlName="name">
                        </mat-form-field>
                    </div>

                    <div class="col-sm-4">
                        <mat-form-field class="form-material">
                            <mat-label>Limite de Crédito</mat-label>
                            <input matInput id="creditLimit" type="text" maxLength="17"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                   [(ngModel)]="currentCustomer.creditLimit" name="creditLimit" formControlName="creditLimit">
                        </mat-form-field>
                    </div>

                    <div class="col-sm-4">
                        <mat-form-field class="form-material">
                            <mat-select placeholder="Risco" [formControl]="risk" [(value)]="selectedRisk">
                                <mat-option *ngFor="let risk of risks" [value]="risk.value">
                                    {{ risk.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="risk.hasError('required')">Escolha um risco</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="btn-cancel">
                    <button type="button" (click)="reset(formDirective)">
                        Limpar
                    </button>
                </div>

                <div class="btn-apply">
                    <button type="submit">
                        <span>{{labelForm}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<br/>

<div class="col-xl-12">
    <div class="table">
        <mat-table #table [dataSource]="dataSource" class="table table-striped">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>
                    Nome
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="creditLimit">
                <mat-header-cell *matHeaderCellDef>
                    Limite de Crédito
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.creditLimit}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="risk">
                <mat-header-cell *matHeaderCellDef>
                    Risco
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.risk}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     (click)="onSelectRow(row)"
                     [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''"></mat-row>
        </mat-table>
    </div>
</div>
