@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 0px !important;
        }
    }
}

.push-right {
    .sidebar {
        left: 215px !important;
    }
    .main-container {
        margin-left: 215px !important;
    }
}
